* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #0b141e;
  transition: background-color 0.5s ease;
}

.hyperfuel-header {
  /* position: sticky; */
  top: 0;
  bottom: 10px;
  width: 100%;
  height: 65px;
  background: transparent;
  border-bottom: 1px solid #ffffff2f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px;
  z-index: 999;
  transition: 0.3s;
}

/* .hyperfuel-header.scrolled {
  background: rgba(142, 178, 255, 0.98);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
} */

.logo {
  font-family: "Stack Sans Notch", sans-serif;
  letter-spacing: 2px;
  font-size: 2.8em;
  font-weight: 900;
  color: #ffff;
  cursor: pointer;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 40px;
}

.nav-list li a {
  font-size: 0.9em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 25px 0;
  display: flex;
  align-items: center;
}

.nav-list .shop-arrow {
  font-size: 0.6em;
  margin-left: 5px;
}

.nav-list li.has-sub {
  position: relative;
}

.sub-nav {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  background: #ffffff;
  list-style: none;
  padding: 10px 0;
  min-width: 180px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.nav-list li.has-sub:hover .sub-nav {
  display: block;
}

.sub-nav li a {
  padding: 10px 18px;
  color: #000;
  display: block;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}

.sub-nav li a:hover {
  background: #f2f2f2;
}

.buy-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;
  font-size: 0.9em;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border: 1px solid #ffffff52;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #fff;
  color: #e6197b;
}

.arrow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #e6197b;
  font-size: 1.2em;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.arrow-circle .fa-angle-right {
  font-size: 0.8em;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 1035px) {
  .hyperfuel-header {
    padding: 0 20px;
  }

  #navbar,
  .buy-button {
    display: none;
  }

  /* show hamburger */
  .hamburger {
    display: block;
  }

  #navbar.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e6197b;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    overflow-y: auto;
    padding-top: 80px;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .nav-list li a {
    font-size: 2em;
    padding: 8px 0;
    color: #fff;
  }

  .sub-nav {
    display: none;
    position: static;
    background: transparent;
    box-shadow: none;
    padding: 0;
    margin-top: 10px;
  }

  .has-sub.open .sub-nav {
    display: block;
  }

  .sub-nav li a {
    color: #fff;
    font-size: 1.3em;
    padding: 10px 0;
    text-align: center;
    opacity: 0.9;
  }

  .shop-arrow {
    margin-left: 10px;
    font-size: 0.7em;
    transform: translateY(4px);
  }

  .has-sub.open .shop-arrow {
    transform: rotate(180deg) translateY(-4px);
  }
}

#hero-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 800px;
  overflow: hidden;
}

#hero-slider h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: clamp(6rem, 10vw, 12rem);
  font-weight: 900;
  color: rgba(255, 255, 255);
  text-transform: uppercase;
  z-index: 0;
  text-align: center;
  pointer-events: none;
  line-height: 0.9;
}

#hero-slider .slider-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  z-index: 1;
}

#hero-slider .slider-content .product::before {
  content: "";
  position: absolute;
  bottom: -50px;
  left: 5%;
  width: 90%;
  height: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
}

#hero-slider .slider-content .product {
  /* width: 12vw; */
  width: 40%;
  height: auto;
  /* margin-bottom: 100px; */
  margin-top: 50px;
  min-width: 100px;
  display: block;
  transition: opacity 0.5s ease;
}

.can-image {
  transition: opacity 0.5s ease;
}

/* global slider controls */

.slider-controls {
  display: block;
  gap: 15px;
  margin-top: auto;
  color: #fff;
  z-index: 2;
}

.slider-controls .arrows {
  display: flex;
  gap: 15px;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 20px;
}

.slider-controls .arrows i {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: 2px solid white;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: background-color 0.2s, color 0.2s;
}

.slider-controls .arrows i:hover {
  background-color: white;
  color: #f77095;
}

#hero-slider .slider-controls {
  margin-bottom: 100px;
}

#hero-slider .slider-controls .arrows {
  justify-content: center;
}

.progress-dots {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  /* justify-content: center; */
}

.dot {
  width: 8px;
  height: 8px;
  background: #ffffff70;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.dot.active {
  width: 22px;
  border-radius: 10px;
  background: white;
}

/* global slider controls ends here */

@media (max-width: 768px) {
  #hero-slider {
    height: 70vw;
  }

  #hero-slider h1 {
    font-size: 20vw;
  }

  #hero-slider .slider-controls {
    bottom: 30px;
  }
}

@media (max-width: 480px) {
  #hero-slider h1 {
    font-size: 22vw;
  }
}

/* info section */

.info-section {
  background-color: #0b141e;
  width: 100%;

  min-height: 150px;
  padding: 30px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 1.2;
}

.main-heading {
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  padding-top: 20px;

  font-size: clamp(1rem, 4vw, 2rem);
}

.highlighted-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 6vw, 3rem);
  margin-bottom: 0.6em;
}

.highlighted-text {
  background-color: #00b0f0;
  color: white;
  padding: 0.1em 0.3em;
  border-radius: 10px;
  margin: 0 0.2em;
  display: inline-block;
}

.sub-text {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 2em;
}

@media (max-width: 600px) {
  .info-section {
    padding: 20px 5%;
  }
  .highlighted-content {
    line-height: 1.1;
  }
  .highlighted-text {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/* best seller */
.bst-sler {
  padding: 0 20px;
}
.section-wrapper {
  background: white;
  margin: 40px 10px;
  padding: 30px;
  border-radius: 20px;
  max-width: 1300px;
  margin-inline: auto;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  padding: 10px 0;
  border-bottom: 2px solid #00000014;
}

.section-header h2 {
  font-size: 22px;
  font-weight: 800;
  letter-spacing: 1px;
}

.see-all-btn {
  background: #042033;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  border: none;
}

/* cards grid */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;
  padding: 25px 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.card img {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
}

.card-title {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 8px;
}

.price {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 12px;
}

.buy-btn {
  background: #042033;
  color: #fff;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

@media (max-width: 500px) {
  .card img {
    width: 100px;
  }
}

/* slider 2 */
#slider2 {
  background: #f77095;
  /* padding: 40px 0; */
}

.container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 40px;
  align-items: center;
  overflow: hidden;
}

.content-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vw;
  color: #000;
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 2px;
  /* margin-bottom: 10px; */
  color: #fff;
  opacity: 0.7;
}

.main-title {
  font-family: "Oswald", sans-serif;
  font-size: 8vw;
  line-height: 0.9;
  font-weight: 700;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  margin-bottom: 50px;
  color: #fff;
}

.content-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.can-image {
  /* width: 10%; */
  max-width: 300px;
  margin-bottom: -150px;
  height: auto;
  /* transform: rotate(10deg); */
  mix-blend-mode: normal;
  object-fit: contain;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
    /* min-height: 100vh; */
  }

  .content-left {
    /* flex: none; */
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
  }

  .main-title {
    font-size: 15vw;
    margin-bottom: 50px;
  }

  .navigation {
    justify-content: center;
    margin-bottom: 50px;
  }

  .content-right {
    padding: 0 20px 50px;
    justify-content: center;
  }

  .can-image {
    width: 40%;
  }

  .slider-controls .arrows {
    justify-content: center;
  }
}

/* gradient-section */

.gradient-section {
  display: flex;
  background-image: linear-gradient(
    to right,
    #02a6e0,
    #648eeb,
    #b566cf,
    #e52a8a,
    #e4022f
  );
  align-items: center;
  justify-content: center;
}

.gradient-section h1 {
  font-size: 8vw;
  text-transform: uppercase;
  font-family: "Exo 2", sans-serif;
}

@media (max-width: 600px) {
  .gradient-section {
    min-height: 10vh;
  }
  .gradient-section h1 {
    /* font-size: 45px; */
    -webkit-text-stroke-width: 0.1vw;
  }
}
@media (min-width: 1200px) {
  .gradient-section h1 {
    /* font-size: 50px; */
    -webkit-text-stroke-width: 1px;
  }
}

/* --- footer  --- */
.site-footer {
  background-color: #0b1522;
  color: #e5e5e5;
  font-family: Arial, sans-serif;
  padding-top: 50px;
}

.footer-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 50px;
}

.footer-nav-columns {
  display: flex;
  gap: 80px;
}

.footer-column {
  padding: 0 10px;
}

.column-title {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-list li {
  margin-bottom: 10px;
}

.link-list a {
  color: #a0a0a0;
  text-decoration: none;
  font-size: 0.95rem;
  transition: color 0.2s;
}

.link-list a:hover {
  color: white;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #334057;
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
}

.footer-form-area {
  width: 350px;
}

.signup-box {
  background-color: #172a44;
  padding: 25px;
  border-radius: 8px;
  color: white;
}

.form-title {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.form-description {
  font-size: 0.85rem;
  color: #a0a0a0;
  margin-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-input {
  width: 100%;
  padding: 10px 15px;
  background-color: #0b1522;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: white;
  font-size: 0.9rem;
}

.form-input::placeholder {
  color: #777;
}

.form-submit-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #008cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.form-submit-btn:hover {
  background-color: #0060ff;
}

.arrow-icon {
  font-size: 1.2rem;
  font-weight: 900;
}

.payment-icons-bar {
  max-width: 1400px;
  margin: 30px auto;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pay-icon {
  display: block;
  width: 45px;
  height: 30px;
  background-color: #334057;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  font-size: 0.7rem;
  color: #fff;
}

.footer-logo-section {
  max-width: 1400px;
  margin: 50px auto 0;
  padding: 0 40px;

  text-align: center;
}

.large-logo-text {
  font-size: 14vw;
  line-height: 1;
  color: white;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
  font-family: "Stack Sans Notch", sans-serif;
  letter-spacing: -0.01em;
}

@media (min-width: 1200px) {
  .large-logo-text {
    font-size: 180px;
  }
}

.footer-bottom-bar {
  background-color: black;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
  color: #a0a0a0;
}

.copyright-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.copyright-left p {
  margin: 0;
}

.brand-icon-placeholder {
  font-size: 0.8rem;
  color: white;
  font-weight: bold;
  line-height: 1;
}

.legal-links a {
  color: #a0a0a0;
  text-decoration: none;
  margin: 0 5px;
  transition: color 0.2s;
}

.legal-links a:hover {
  color: white;
}

@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    gap: 40px;
  }

  .footer-nav-columns {
    flex-wrap: wrap;
    gap: 40px;
  }

  .footer-form-area {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer-nav-columns {
    flex-direction: column;
    gap: 20px;
  }

  .footer-column {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.05);
    padding-bottom: 20px;
  }

  .social-column {
    border-bottom: none;
  }

  .footer-bottom-bar {
    flex-direction: column;
    text-align: center;
  }

  .copyright-left,
  .legal-links {
    padding: 5px 0;
  }
}
